{% extends 'adminPanel/admin_menu.html' %}
{% load static %}
{% block content %}

<h2>Edit Customer:</h2>
<form method="POST" enctype="multipart/form-data" action="{% url 'adminPanel:editCustomer' user.id %}">
    {% csrf_token %}
    <div class="contentalladd">
        <table class="table">
            <thead>
                <tr>
                    <div class="row align-items-center change_username">
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-10">

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-10">
                            {{ form }}
                        </div>
                    </div>
                </tr>
            </thead>
        </table>

    <div class="row  save_Delete">
        
            <button type="submit" class="save button_inner ">SAVE</button>
        
    </div>


</div>

</form>



{% endblock %}