<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Country</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
        
    <!-- Custom styles for this template-->
    <link href="{% static 'css/bootstrap/bootstrap_admin.css' %}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
      
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'homepage:homepage' %}">
        
                <img src="{% static 'images/LogoBooky.png' %}" alt="">
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'adminPanel:dashboard' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Site administration</span></a>
                    
                    </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading" onclick="main('about');"  >
               <span>AdminPanel</span> 
                <i class="fas fa-fw fa-cog"></i>
            </div>
            <ul class="hidden_div" id="about" style="display: none;">
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'adminPanel:dashboardCountry' %}">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Country</span>
                </a>
              
            </li>
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'adminPanel:dashboardFooter' %}" >
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Footer description</span>
                </a>
             </li>
             <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'adminPanel:packDuration' %}" >
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Themed pack durations</span>
                </a>
             </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'adminPanel:packVarieties' %}" >
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Themed pack varietys</span>
                </a>
             </li>

             <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'adminPanel:dashboardCarMarks' %}" >
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Car marks</span>
                </a>
             </li>

             <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'adminPanel:dashboardTermsAndConditions' %}" >
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Terms and Conditions</span>
                </a>
             </li>

             <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'adminPanel:dashboardPrivacyPolicy' %}" >
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Privacy Policy</span>
                </a>
             </li>

             <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'adminPanel:dashboardDefaultPrice' %}" >
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Default Price</span>
                </a>
             </li>

             <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'adminPanel:dashboardDefaultPercentage' %}" >
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Default Percentage</span>
                </a>
             </li>
             
             <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'adminPanel:dashboardWhyUs' %}" >
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Why Us</span>
                </a>
             </li>
            </ul>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading" onclick="main('authentication');">
              <span>  Users </span>
              <i class="fas fa-fw fa-cog"></i>
            </div>


            <!-- Nav Item - Pages Collapse Menu -->
            <ul class="hidden_div" id="authentication" style="display: none;">
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'adminPanel:admins' %}">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Admins</span>
                </a>
             </li>
            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'adminPanel:suppliers' %}" >
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Suppliers</span>
                </a>
             </li>

             <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'adminPanel:customers' %}" >
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Customers</span>
                </a>
             </li>

            <!-- Nav Item - Tables -->
           
        </ul>
          
             <!-- Divider -->
             <hr class="sidebar-divider">

             <!-- Heading -->
             <div class="sidebar-heading"  onclick="main('components');">
               <span>COMPONENTS</span> 
               
             </div>
 
             <!-- Nav Item - Pages Collapse Menu -->
             <ul class="hidden_div" id="components" style="display: none;">
             <li class="nav-item">
                 <a class="nav-link collapsed" href="{% url 'adminPanel:dashboardFaq' %}" >
                     <i class="fas fa-fw fa-wrench"></i>
                     <span>FAQ</span>
                 </a> 
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'adminPanel:homePageDestination' %}" >
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Home Page Destination</span>
                </a> 
           </li>

           <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'adminPanel:interestingFacts' %}" >
                <i class="fas fa-fw fa-wrench"></i>
                <span>Interesting Facts</span>
            </a> 
       </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="{% url 'adminPanel:dashboardContacts' %}" >
                        <i class="fas fa-fw fa-wrench"></i>
                        <span>Contacts</span>
                    </a> 
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'adminPanel:dashboardAbout' %}" >
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>About</span>
                </a> 
        </li>
           </ul>


             <!-- Divider -->
             <hr class="sidebar-divider d-none d-md-block">
              <!-- Heading -->
              <div class="sidebar-heading" onclick="main('personaltour');">
               <span>PERSONALTOUR</span> 
               
             </div>
 
             <!-- Nav Item - Pages Collapse Menu -->
             <ul class="hidden_div" id="personaltour" style="display: none;">
             <li class="nav-item "  onclick="showdiv()" style="cursor: pointer;">   
                <div class="nav-link collapsed">           
                     <i class="fas fa-fw fa-wrench"></i>
                     <span>Accommodation</span>
                </div>
                <ul id="hidden_accomodition" class="hidden" >
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="{% url 'adminPanel:dashboardHotels' %}" >
                            <i class="fas fa-fw fa-wrench"></i>
                            <span>Hotel</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="{% url 'adminPanel:dashboardApartment' %}" >
                            <i class="fas fa-fw fa-wrench"></i>
                            <span>Apartament</span>
                        </a>
                    </li>
                </ul>
              </li>
            <script>
                              
                function showdiv(){
                   let hidden= document.getElementById('hidden_accomodition');
                   hidden.classList.toggle('activee')
                

                }
            </script>
             <!-- Nav Item - Pages Collapse Menu -->
        
             <li class="nav-item">
                 <a class="nav-link collapsed" href="{% url 'adminPanel:accomodationReview' %}" >
                     <i class="fas fa-fw fa-wrench"></i>
                     <span>Accommodation Reviews</span>
                 </a>
                 
              </li>
            
             <!-- Nav Item - Pages Collapse Menu -->
        
             <!-- Nav Item - Pages Collapse Menu -->
             <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'adminPanel:dashboardCars' %}" >
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Cars</span>
                </a>
                
             </li>

             <li class="nav-item">
                 <a class="nav-link collapsed" href="{% url 'adminPanel:carReview' %}" >
                     <i class="fas fa-fw fa-wrench"></i>
                     <span>Car Reviews</span>
                 </a>
              </li>


              </ul>
             <hr class="sidebar-divider d-none d-md-block">
              <!-- Heading -->
              <div class="sidebar-heading" onclick="main('themedtour');">
               <span>THEMEDTOUR</span> 
                
                
             </div>
 
             <!-- Nav Item - Pages Collapse Menu -->
             <ul class="hidden_div" id="themedtour" style="display: none;">
             <li class="nav-item">
                 <a class="nav-link collapsed" href="{% url 'adminPanel:themedPackOrder' %}" >
                     <i class="fas fa-fw fa-wrench"></i>
                     <span>Ordered themed packs</span>
                 </a>
                 
              </li>
             <!-- Nav Item - Pages Collapse Menu -->
        
             <li class="nav-item">
                 <a class="nav-link collapsed" href="{% url 'adminPanel:dashboardPacks' %}" >
                     <i class="fas fa-fw fa-wrench"></i>
                     <span>Themed Pack</span>
                 </a>
                 
              </li>
             <!-- Nav Item - Pages Collapse Menu -->
        
             <li class="nav-item">
                 <a class="nav-link collapsed" href="{% url 'adminPanel:themedPackReview' %}" >
                     <i class="fas fa-fw fa-wrench"></i>
                     <span>Themed Pack Reviews</span>
                 </a>
                 
              </li>
             <!-- Nav Item - Pages Collapse Menu -->
        
            </ul>   
               <!-- Divider -->
             <hr class="sidebar-divider d-none d-md-block">
             <!-- Heading -->
        
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                   

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto" style="display: flex;
                    align-items: center;">
                        <li class="nav-item">
                            <a href="" class="mr-2 d-none d-lg-inline text-gray-600 small">Visit Site / </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="mr-2 d-none d-lg-inline text-gray-600 small"> Change Password</a>
                        </li>
                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                      

                        <!-- Nav Item - Messages -->
                       

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Q.Tinas Page</span>
                                <img class="img-profile rounded-circle"
                                    src="{% static 'images/undraw_profile_3.svg' %}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                            
                               
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'registration:logout' %}" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                {% include 'adminPanel/messages.html' %}
<!-- End of Topbar -->

{% block content %}




{% endblock %}



<!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; BookyTrip 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->


    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'registration:logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <!-- <script src="{% static 'js/manual/vendor/jquery/jquery.min.js' %}"></script> -->
    

    <script src="{% static 'js/manual/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/dashboard/sb-admin-2.js' %}"></script>
    <script type="text/javascript">
        $('.confirmation').on('click', function () {
            return confirm('Are you sure to Delete?');
        });
        
    </script>
    <script>
        $(function(){
          var dtToday = new Date();
          
          var month = dtToday.getMonth() + 1;
          
          var day = dtToday.getDate();
          var year = dtToday.getFullYear();
          if(month < 10)
              month = '0' + month.toString();
          if(day < 10)
              day = '0' + day.toString();
          
          var maxDate = year + '-' + month + '-' + day;
      
          // or instead:
          // var maxDate = dtToday.toISOString().substr(0, 10);
      
          
          $('.date_input').attr('min', maxDate);
      });
     
      document.getElementById('textfield7').onchange = function () {
        document.getElementById('textfield8').setAttribute('min',  this.value);
     
    };
    
      </script>
</body>

</html>