{% extends 'adminPanel/admin_menu.html' %}
{% load static %}
{% block content %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

               
   <!------------------- adminpanel desings --------------------->

    <!------------ titlefaqmotification---- -->
    <div class="titlefaqmotification">
      <h1>Notification bar</h1>
    </div>

    <!-- ------ Faq_notification ----->
    <div class="Faq_notification">
        <div class=" col-md-5 col-sm-6 acoco_notification ">
        <a href="{% url 'adminPanel:dashboardFaq' %}">

          <!-------- Faq_card1 ----------->
          <div class="card Faq_card1">

            <!----- centerpozition ----->
            <h3 class="centerpozition">FAQ Notification</h3>

            <!------- nameboxs -------->
            <div class="card-body nameboxs">
              <span>Notification</span>
              <!-- <span class="number_notification">5</span> -->

            <!-----notification icon ------>
              <div class="notifier new">
                <i class="bell fa fa-bell"></i>
                {% if faq_notificaiton_count > 0 %}
                  <div class="badgea jump">{{ faq_notificaiton_count }}</div>
                {% else %}
                  <div class="badgea">{{ faq_notificaiton_count }}</div>
                {% endif %}
              </div>
            </div>
          </div>
          </a>
        </div>
        <div class=" col-md-5 col-sm-6 acoco_notification ">
          <a href="{% url 'adminPanel:accomodationReview' %}">
            <div class="card Faq_card2">
              <h3 class="centerpozition">Accommodation Reviews </h3>
              <div class="card-body nameboxs">
                <span>Notification</span>
                <!-- <span class="number_notification">5</span> -->
                <div class="notifier new">
                  <i class="bell fa fa-bell"></i>
                  {% if accomodation_review_count > 0 %}
                    <div class="badgea jump">{{ accomodation_review_count }}</div>
                  {% else %}
                    <div class="badgea">{{ accomodation_review_count }}</div>
                  {% endif %}
                </div>
              </div>
            </div>
          </a>
          </div>
          <div class=" col-md-5 col-sm-6  acoco_notification">
          <a href="{% url 'adminPanel:carReview' %}">
            <div class="card Faq_card3">
              <h3 class="centerpozition">Car Reviews</h3>
              <div class="card-body nameboxs">
                <span>Notification</span>
                <!-- <span class="number_notification">5</span> -->
                <div class="notifier new">
                  <i class="bell fa fa-bell"></i>
                  {% if car_review_count > 0 %}
                    <div class="badgea jump">{{ car_review_count }}</div>
                  {% else %}
                    <div class="badgea">{{ car_review_count }}</div>
                  {% endif %}
                </div>
              </div>
            </div>
          </a>
          </div>
          <div class=" col-md-5 col-sm-6 acoco_notification">
          <a href="{% url 'adminPanel:themedPackReview' %}">
            <div class="card Faq_card4">
              <h3 class="centerpozition">Themed Pack Reviews</h3>
              <div class="card-body nameboxs">
                <span>Notification</span>
                <!-- <span class="number_notification">5</span> -->
                <div class="notifier new">
                  <i class="bell fa fa-bell"></i>
                  {% if themed_pack_review_count > 0 %}
                    <div class="badgea jump">{{ themed_pack_review_count }}</div>
                  {% else %}
                    <div class="badgea">{{ themed_pack_review_count }}</div>
                  {% endif %}
              </div>
            </div>
            </div>
            </a>
        </div>
        </div>

{% endblock %}