{% extends 'adminPanel/admin_menu.html' %}
{% load static %}
{% block content %}


                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!----------------------------------------------------------------------------------->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Accomodation Reviews</h1>

                    </div>


                    <!-------------------THEMED PACK REVIEW---------------------------> 
                    
                    <table class="table " id= "table-id">
                        <div class="row">
                      <thead>
                          <tr>
                              <th style="width: 35px;">
                                  <input type="checkbox" class="checkAll" name="checkAll" />
                              </th>
                              <th class="AcomodationHeader">Accomodation Reviews</th> 
                              <th ></th> 
                              <th ></th> 
                            </tr>
   
                      </thead>
  
                      <tbody >
                        {% for review in dashboard_accomodation %}
                            {% if review.id in accomodation_review_notification_tuple %}
                              <tr>
                                  <td class=""><input type="checkbox" name="item[]" value="1"></td>
                                    <td class="new_class"><a href="{% url 'adminPanel:accomodationReviewEdit' review.id %}">{{ review.accommodation }} | {{ review.user }}</a>
                                        <span class="new_inner" > NEW</span></td>
                                    
                                    <td> <a href="{% url 'adminPanel:accomodationReviewEdit' review.id %}">Edit </a> </td>
                                    <td class="" > <a href="">Delete Items </a> </td>
                                    <td></td>
                              </tr>
                                {% else %}
                                <tr>
                                    <td class=""><input type="checkbox" name="item[]" value="1"></td>
                                      <td class=""><a href="{% url 'adminPanel:accomodationReviewEdit' review.id %}">{{ review.accommodation }} | {{ review.user }}</a></td>
                                      <td> <a href="{% url 'adminPanel:accomodationReviewEdit' review.id %}">Edit </a> </td>
                                      <td class="delete confirmation" > <a href="">Delete Items </a> </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                      </tbody>
                      </table>
                      


                            <!---------------- END THEMED PACK REVIEW----------------->

                        </div>       
                         <!-- 		End of Container -->

                </div>
            

                
                <!-- /.container-fluid -->

            
            <!-- End of Main Content -->

{% endblock %}




