{% extends 'adminPanel/admin_menu.html' %}
{% load static %}
{% block content %}
<div class="main_pack">
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Car Marks</h1>
        <div class="add">
            <a href="{% url 'adminPanel:dashboardCarMarkAdd' %}">Add Car Mark</a>
        </div>
    </div>

                 

    <!-- Content Row -->
    <table class="table" id= "table-id">
    <thead>
        <tr>
            <th>
                <input type="checkbox" class="checkAll" name="checkAll" />
            </th>
            <th >Car Marks</th>
            <th ></th>
            <th ></th>
            
        </tr>
    </thead>
    <tbody>
        
        {% for car in car_marks %}
            <tr>
                <td><input type="checkbox" name="item[]" value="1"></td>
                <td colspan="2"><a href=""> {{ car.car_mark }} </a></td>
                <td class="delete confirmation"><a href="{% url 'adminPanel:deleteCarMark' car.id %}">Delete</a> </td>
            </tr>
        {% endfor %}

    </tbody>
    </table>

</div> 

 {% endblock %}