{% extends 'adminPanel/admin_menu.html' %}
{% load static %}
{% block content %}
<div class="main_pack">
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Why Us</h1>
        <div class="add">
            <a href="{% url 'adminPanel:dashboardWhyUsAdd' %}">Add Why Us</a>
        </div>
    </div>

                 

    <!-- Content Row -->
    <table class="table" id= "table-id">
    <thead>
        <tr>
            <th>
                <input type="checkbox" class="checkAll" name="checkAll" />
            </th>
            <th >Why Us</th>
            <th ></th>
            <th ></th>
            
        </tr>
    </thead>
    <tbody>
        
        {% for us in why_us %}
            <tr>
                <td><input type="checkbox" name="item[]" value="1"></td>
                <td colspan="2"><a href="{% url 'adminPanel:dashboardWhyUsEdit' us.id %}"> {{ us.title }} </a></td>
                <td class="delete confirmation"><a href="">Delete</a> </td>
            </tr>
        {% endfor %}

    </tbody>
    </table>

</div> 

 {% endblock %}