{% extends 'adminPanel/admin_menu.html' %}
{% load static %}
{% block content %}

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!----------------------------------------------------------------------------------->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Themed Packs</h1>
                        <div class="add">
                            <a href="{% url 'adminPanel:addPack' %}">ADD THEMED PACK</a>
                        </div>
                    </div>

                    <div class="filters">
                        <select class  ="form-control" name="state" id="maxRows">
                             
                             
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="70">70</option>
                            <option value="100">100</option>
                            <option value="5000">Show ALL Rows</option>
                           </select>
                           <div class="tb_search">
                            <input type="text" id="search_input_all" onkeyup="FilterkeyWord_all_table()" placeholder="Search.." class="form-control">
                                    </div>
                      </div>
                    <!-------------------Themed pack---------------------------> 


                    <table class="table " id= "table-id">
                        <div class="row">
                      <thead>
                          <tr>
                              <th style="width: 35px;">
                                  <input type="checkbox" class="checkAll" name="checkAll" />
                              </th>
                              <th class="AcomodationHeader">THEMED PACK</th> 
                              <th ></th> 
                          </tr>
                      </thead>


  
                      <tbody >
                         {% for pack in packs %}
                              <tr>
                                  <td class=""><input type="checkbox" name="item[]" value="1"></td>
                                    <td class=""><a href="{% url 'adminPanel:dashboardSinglePack' pack.id %}">{{ pack.pack_name }} | {{ pack.trip_variety }}</a></td>
                                    <td class="delete" > <a href="">Delete Items</a>  </td>
                                 
                              </tr>
                        {% endfor %}
                      </tbody>
                      </table>



                            <!---------------- END Themed pack----------------->

                        </div>       
                         <!-- 		End of Container -->

                </div>
            

                
                <!-- /.container-fluid -->

            
            <!-- End of Main Content -->

{% endblock %}





