{% extends 'adminPanel/admin_menu.html' %}
{% load static %}
{% block content %}


                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!----------------------------------------------------------------------------------->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Themed Packs Reviews</h1>

                    </div>
                    <div class="filters">
                        <select class  ="form-control review_filter" name="state" id="select" onchange="myFunction()">>
                            {% for pack in packs %}
                            <option value="{{ pack }}">{{ pack }}</option>
                            {% endfor %}
                           </select>
                           <div class="tb_search">
                            <input type="text" id="search_input_all" onkeyup="FilterkeyWord_all_table()" placeholder="Search.." class="form-control">
                            </div>
                      </div>

                    <!-------------------THEMED PACK REVIEW---------------------------> 
                    
                    <table class="table " id= "table-id">
                        <div class="row">
                      <thead>
                          <tr>
                              <th style="width: 35px;">
                                  <input type="checkbox" class="checkAll" name="checkAll" />
                              </th>
                              <th class="AcomodationHeader">Themed Pack Reviews</th> 
                              <th ></th> 
                              <th ></th> 
                            </tr>
   
                      </thead>
  
                      <tbody >
                        {% for pack_review in themed_pack_reviews %}
                            {% if pack_review.id in themed_pack_review_notification_tuple %}
                              <tr>
                                  <td class=""><input type="checkbox" name="item[]" value="1"></td>
                                    <td class="new_class"><a href="{% url 'adminPanel:editThemedPackReview' pack_review.id %}">{{ pack_review.pack }} | {{ pack_review.user }}</a>
                                        <span class="new_inner" > NEW</span></td>
                                    
                                    <td> <a href="{% url 'adminPanel:editThemedPackReview' pack_review.id %}">Edit </a> </td>
                                    <td class="delete" > <a href="{% url 'adminPanel:deleteThemedPackReview' pack_review.id %}">Delete Item</a> </td>
                                    <td></td>
                              </tr>
                                {% else %}
                                <tr>
                                    <td class=""><input type="checkbox" name="item[]" value="1"></td>
                                      <td class=""><a href="{% url 'adminPanel:editThemedPackReview' pack_review.id %}">{{ pack_review.pack }} | {{ pack_review.user }}</a></td>
                                      <td> <a href="{% url 'adminPanel:editThemedPackReview' pack_review.id %}">Edit </a> </td>
                                      <td class="delete confirmation" > <a href="{% url 'adminPanel:deleteThemedPackReview' pack_review.id %}">Delete Item</a> </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                      </tbody>
                      </table>
                      


                            <!---------------- END THEMED PACK REVIEW----------------->

                        </div>       
                         <!-- 		End of Container -->

                </div>
            

                
                <!-- /.container-fluid -->

            
            <!-- End of Main Content -->

{% endblock %}




