{% extends 'adminPanel/admin_menu.html' %}
{% load static %}
{% block content %}

<div class="main_pack">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">INTERESTING FACTS</h1>
        </div>
   
      <div class="intereseting_facts">  
          
        <div class="interesting_facts_inner">
          <form action="{% url 'adminPanel:editInterestingFactLeft' %}" method='POST' enctype="multipart/form-data">  
            {% csrf_token %}
            <div class="heading_facts">
                <label for="heading_first">Header</label>
                {{ left_form.title }}                
            </div>
            <div class="image_facts">
              <div class="fact_image_show">
                <img src="{{ left_fact.image.url }}" alt="">
              </div>
                <label for="image_file">Image <span>(Image Size Must Be 350px/525px)</span>    </label> 
                {{ left_form.image }}
            </div>
            <div class="heading_textarea">
                <label for="description_first">Description (Max 50 char)</label>
                {{ left_form.text }}
            </div>
            <div class="row  save_Delete">                            
              <button type="submit" class="save button_inner ">SAVE</button>      
            </div>
            </form>
        </div>
       
      
        
        <div class="interesting_facts_inner">
          <form action="{% url 'adminPanel:editInterestingFactLeft' %}" method="POST"  id="form_save" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="heading_facts">
                <label for="heading_second">Header</label>
                {{ right_form.title }}   
            </div>
            <div class="image_facts">
                <div class="fact_image_show">
                  <img src="{{ right_fact.image.url }}" alt="">
                </div>
                <label for="image_file">Image <span>(Image Size Must Be 350px/525px)</span></label> 
                {{ right_form.image }}
              
            </div>
            <div class="heading_textarea">
                <label for="description_second">Description <span>(Max 50 char)</span> </label>
                {{ right_form.text }}
            </div>
            <div class="row  save_Delete">                            
              <button type="submit" class="save button_inner ">SAVE</button>     
              <div id="output" class="ajax_response"></div> 
            </div>
          </form>
        </div>
       <!-- Trigger the modal with a button -->
       <div id="error_message" class="ajax_response" style="float:left"></div>
    

<!-- Modal -->

</div>
      
      </div>


  </div>
</div>

{% endblock %}